html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  body {
    @include semantic-html5-titles;
    @include reset;
    @include text-style(default);

    padding: $lem 0;

    .article {
      @include article;
    }

    .menu {
      @include menu;
    }

    .meta {
      @include meta;
    }
  }
}
