html {
  body {
    @include semantic-html5-titles;
    @include reset;
    @include text-style(default);

    @include stretch(rows);
    display: flex;
    justify-content: center;
    align-items: flex-end;


    .article {
      @include article;
    }

    .header {
      @include header;
    }
  }
}
