<p>
  We are programmable biocomputers shaped by Culture.
  <br/>
  A culture controlled by state and capital, soon by Technology.
</p>

<p>
  This era is about transferring Control from power structures to us, people.
</p>

<p>
  My role would be to guide technology and people in this metasystem transformation. 
</p>

<p>
  --------------
</p>


<p>
It seems technology is a new dimension and not another evolutionary system like genes, memes and mones.
</p>
<p>
It is a new Platform with new Values moving new Energies. And open for all to:
<ul>
  <li>Shape the platform.</li>
  <li>Create new values.</li>
  <li>Better distribute energies.</li> 
</ul>
</p>



<div class="hidden">
  Yes I have a bullshit detector.
</div>


