


<!doctype html>
<html lang="en" class="tactics ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Tactics &mdash; Writing</title>

    <script src="//use.typekit.net/oks5ysz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://metamn.io/assets/images/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://metamn.io/assets/images/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://metamn.io/assets/images/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://metamn.io/assets/images/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://metamn.io/assets/images/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://metamn.io/assets/images/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://metamn.io/assets/images/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://metamn.io/assets/images/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Metamn"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://metamn.io/assets/images/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://metamn.io/assets/images/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://metamn.io/assets/images/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://metamn.io/assets/images/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://metamn.io/assets/images/icons/mstile-310x310.png" />

  </head>

  <body>


<article class="article">
  <h3 class="article__title">Tactics</h3>

  <div class="article__body">
    
<p>
Everybody has a goal in life. 
Some attach a strategy to help it happen. 
Few have the ability — tactics — to realise.
</p>
<p>
Goals worth nothing because anybody can have any. 
Strategy is put higher — not anybody can do proper planning.
</p>
<p>
Moreover it turns out planning is obsolete. Plans are not realizable due to their disconnected nature from reality.
</p>
<p>
Goals, plans and strategy are pure thoughts distorted during execution by the unforeseen.
</p>
<p>
So it’s all about tactics. And when you build from bottom up — as everything in this century — strategy and goals become useless.
</p>
<p>
Pure tactics without strategy requires huge life experience, sharp 
instincts and slim lifestyle. You have to be caught in the present. 
Not worrying about past and future.
</p>
<p>
A mastery few achieved, we migh think. 
But there are many, unknown everyday ‘heroes’.
</p>

  </div>

  <aside class="article__date">
  <h3>Article date</h3>

  
    <p class="date">
      December 2010
    </p>
  
</aside>

</article>

<section class="menu">
  <h3>Menu</h3>

  


<nav class="next">
  <h3>Next article</h3>

  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    
      
    

    
  
    

    
  
    

    
      
    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  

  
  
  <div class="arrow active">
    <a class="link" href="/assange" title="Assange">
      
        <span class="arrow__icon arrow__icon--left">&lsaquo;</span>
        <span class="arrow__text">Assange</span>
      

      
    </a>
  </div>



  
  
  <div class="arrow active">
    <a class="link" href="/times" title="Times">
      

      
        <span class="arrow__text">Times</span>
        <span class="arrow__icon arrow__icon--right">&rsaquo;</span>
      
    </a>
  </div>


</nav>

  <header class="header">
  <h3 class="logo">
  
  

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://metamn.io" title="Metamn"><span data-hover="Metamn">Metamn</span></a>

</h3>

</header>

</section>

<aside class="meta">
  <h3 class="meta__title">Meta</h3>

  


  <p class="categories">
    <span class='categories__icon'>#</span>
    <span class="categories__list">
      
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      
        
          
        
          
            

              
              
              
              
              

  
    
  

  


  


  

  

  <a class="link" href="/on/time" title="time"><span data-hover="time">time</span></a> 


            
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
            

              
              
              
              
              

  
    
  

  


  


  

  

  <a class="link" href="/on/life-experience" title="life experience"><span data-hover="life experience">life experience</span></a> 


            
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
      
    </span>
  </p>



  <p class="archives">
    + 
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/archive" title="archive"><span data-hover="archive">archive</span></a>

  </p>
</aside>

<script src="/assets/scripts/site.min.js"></script>
</body>
</html>

