


<!doctype html>
<html lang="en" class="the-daily-zeitgeist-/-flow ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>The Daily Zeitgeist / Flow &mdash; Writing</title>

    <script src="//use.typekit.net/oks5ysz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://metamn.io/assets/images/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://metamn.io/assets/images/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://metamn.io/assets/images/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://metamn.io/assets/images/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://metamn.io/assets/images/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://metamn.io/assets/images/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://metamn.io/assets/images/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://metamn.io/assets/images/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Metamn"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://metamn.io/assets/images/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://metamn.io/assets/images/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://metamn.io/assets/images/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://metamn.io/assets/images/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://metamn.io/assets/images/icons/mstile-310x310.png" />

  </head>

  <body>


<article class="article">
  <h3 class="article__title">The Daily Zeitgeist / Flow</h3>

  <div class="article__body">
    
<p>
Keeping yourself updated with the news, getting on the flow is not easy today. 
Finding a healthy balance between your <em>input</em> 
— acquiring knowledge — and <em>output</em> — creating knowledge — is the key to your success.
</p>

<h3>The Case</h3>
<p>
If you don’t do enough research before start working you might skip the latest innovations and trends. You might invent something which by night became obvious and well done by others.
</p>
<p>
Researching too much without focusing on output will make you unproductive and frustrated: you know almost everything but unable to produce what is needed.
</p>

<h3>The Solution</h3>
<p>
Little repetitive periods of time, cycles for doing and learning. At a period focus on the input, get on the flow, and when tired go to produce something and generate output.
</p>
<p>
These cycles vary from person to person, some can do both activities one day, personally I prefer weekly cycles or cycles based on mood.
</p>

<h3>Tools, Tools, Tools</h3>
<p>
It’s hard to read through the flow of information and it is harder to keep the 
information in your mind.
</p>
<p>
No one can store the knowledge in his head, what we can do today is to use filters and store the most important items in the web.
</p>
<p>
We have to let the information flow through ourselves and don’t bother about acquiring exact knowledge. Let our brains automagically store whatever seems to be important, go and discuss frequently your ideas to distill thoughts and opinions about what you have read.
</p>
<p>
And finally let me introduce you my 
<a title="The Flow" href="http://clair.ro/flow">Daily Zeitgeist</a>, a place where I store all those information I can’t and don’t want to remember but finding interesting as an input.
</p>


  </div>

  <aside class="article__date">
  <h3>Article date</h3>

  
    <p class="date">
      April 2009
    </p>
  
</aside>

  


<aside class="article__meta">
  <h3>Article meta</h3>

  
    <p class="categories">
    #
    
      
        
          

            
            
            
            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/knowledge" title="knowledge"><span data-hover="knowledge">knowledge</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            
            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/newsledge" title="newsledge"><span data-hover="newsledge">newsledge</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            
            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/information" title="information"><span data-hover="information">information</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            
            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/rhythm" title="rhythm"><span data-hover="rhythm">rhythm</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            
            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/quantification" title="quantification"><span data-hover="quantification">quantification</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            
            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/business" title="business"><span data-hover="business">business</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
    </p>
  

  <p class="archives">
    + 
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/archive" title="archive"><span data-hover="archive">archive</span></a>

  </p>
</aside>

  


<nav class="article__next">
  <h3>Next article</h3>

  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    
      
    

    
  
    

    
  
    

    
      
    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  

  
  
  <div class="arrow active">
    <a class="link" href="/the-web-vs-the-state" title="The Web vs. The State">
      
        <span class="arrow__icon arrow__icon--left">&larr;</span>
        <span class="arrow__text">The Web vs. The State</span>
      

      
    </a>
  </div>



  
  
  <div class="arrow active">
    <a class="link" href="/the-web-is-the-singularity" title="The Web Is The Singularity">
      

      
        <span class="arrow__text">The Web Is The Singularity</span>
        <span class="arrow__icon arrow__icon--right">&rarr;</span>
      
    </a>
  </div>


</nav>

</article>

<header class="header">
  <h3 class="logo">
  
  

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://metamn.io" title="Metamn"><span data-hover="Metamn">Metamn</span></a>

</h3>

</header>

<script src="/assets/scripts/site.min.js"></script>
</body>
</html>

