@mixin arrow__icon($display: true) {
  .arrow__icon {
    font-size: 400%;
    line-height: 0;

    position: relative;
    top: -.12em;

    @if ($display != true) {
      display: none;
    }
  }
}
