---
layout: post
title: 
categories:
  - simulacra
  - self
  - dream
  - science
  - quantification
  - Dostoevsky
  - Albert Laszlo Barabasi
people:
  - name: Dostoevsky
    bio: Genial insights into human mind, heart and spirit
    img: /assets/dostoevsky.jpg
  - name: Albert Laszlo Barabasi
    bio: Like Betrand Russell for the XXth, perhaps he knows the essence of this century.
    img: /assets/barabasi.jpg
---

<blockquote>
Science itself will teach man (though to my mind it’s a superfluous luxury) that he never has really had any caprice or will of his own, and that he himself is something of the nature of a piano-key or the stop of an organ.
</blockquote>

<p><strong>1864, Moscow</strong></p>

<blockquote>
Think yourself as a dreaming robot on autopilot and you will be closer to the truth.
</blockquote>

<p><strong>2010, Boston</strong></p>


{% assign person = page.people[0] %} 
{% assign status = 'opened' %}
{% include people.html %}

{% assign person = page.people[1] %} 
{% include people.html %}

