

// Fonts
//
// Typefaces and fonts used across the site.
// They are never used directly but set up properly with the `text-style` mixin.
//
// Styleguide fonts


// Nimbus Sans
// - The default typeface, sans-serif
// - character set: English, with OpenType Features
// - served from Typekit
// - styles and weights: Regular, Bold, 


// Silkscreen
// - The logo typeface, sans-serif
// - character set: English, with OpenType Features
// - served from Typekit
// - styles and weights: Regular, 




// The font mixin
@mixin font($variant) {

  @if ($variant == 'nimbus-sans-regular') {
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  @if ($variant == 'nimbus-sans-bold') {
    font-family: 'nimbus-sans', sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  @if ($variant == 'silkscreen-regular') {
    font-family: 'silkscreen', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
}


// Font classes

.nimbus-sans-regular {
  font-family: 'nimbus-sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nimbus-sans-bold {
  font-family: 'nimbus-sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.silkscreen-regular {
  font-family: 'silkscreen', sans-serif;
  font-weight: 400;
  font-style: normal;
}

