body {
  font-family: 'Old Standard TT';
}


/* Links
*/

a {
  color: #0000FF;
  text-decoration: none;
}
a:visited {
  color: #7914CC;
}
a:active {
  color: #FF0000;
}

h1 a, #menu a,
h1 a:visited, #menu a:visited {
  color: #000;
}



/* Articles
*/

article header time {
  background: #36392F;
  color: #F3F3F3;
  padding: .312em;
  font-variant: small-caps;
}




/* Archives
*/

#archives li, .archive li {
  border-color: #eee;
}


/* Other
*/

.notice {
  color: #999;
  border-color: #999;
}
