body {
  font-family: 'Old Standard TT';
}


/* Links
*/

a {
  color: #FF358B;
}
a:visited {
  color: #7F405B;
}

h1 a, #menu a,
h1 a:visited, #menu a:visited {
  color: #000;
}
h1 a, #menu a, #archives a {
  text-decoration: none;
}


/* Archives
*/

#archives li, .archive li {
  border-color: #eee;
}
