@mixin article__next {
  padding: $lem;
  border: 2px dashed $lightgray;
  border-top: none;

  display: flex;
  justify-content: space-between;

  .arrow {
    @include arrow(black-on-white, $black);
  }

  @include article__next--mobile;
}
