// Reset
//
// Reset typographic elements. Sits on the top of Normalize.css
//
// No Styleguide entry
@mixin reset {
  h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  p, figure, blockquote, ul, ol, li {
    margin: 0;
    padding: 0;
  }

  // Remove the extra bottom spacing for <img> inside <a>
  figure a {
    line-height: 0;
    display: block;
  }
}
