


<!doctype html>
<html lang="en" class="desire ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Desire &mdash; Writing</title>

    <script src="//use.typekit.net/oks5ysz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://metamn.io/assets/images/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://metamn.io/assets/images/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://metamn.io/assets/images/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://metamn.io/assets/images/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://metamn.io/assets/images/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://metamn.io/assets/images/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://metamn.io/assets/images/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://metamn.io/assets/images/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Metamn"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://metamn.io/assets/images/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://metamn.io/assets/images/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://metamn.io/assets/images/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://metamn.io/assets/images/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://metamn.io/assets/images/icons/mstile-310x310.png" />

  </head>

  <body>


<article class="article">
  <h3 class="article__title">Desire</h3>

  <div class="article__body">
    
<p>
The completely wrong way; It is the most life and energy consuming thing on Earth.
</p>
<p>
It has many destinations. Fame, knowledge, beauty, sex, money, freedom.
</p>
<p>
Those who desire will never get it. Or they will get it with a collateral damage making not worth it.
</p>
<p>
Remember there is no Me who can have desires. There is Desire who can have — unfortunately — many Mes, us, just those usual guys trapped in this (fucking) simulacra.
</p>

  </div>

  <aside class="article__date">
  <h3>Article date</h3>

  
    <p class="date">
      March 2011
    </p>
  
</aside>

  


<aside class="article__meta">
  <h3>Article meta</h3>

  
    <p class="categories">
    #

    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            

            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/desire" title="desire"><span data-hover="desire">desire</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            

            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/values" title="values"><span data-hover="values">values</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
          

            
            
            

            
            

  
    
  

  


  


  

  

  <a class="link" href="/on/simulacra" title="simulacra"><span data-hover="simulacra">simulacra</span></a> 


          
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
        
      
    

    </p>
  

  <p class="archives">
    + 
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/archive" title="archive"><span data-hover="archive">archive</span></a>

  </p>
</aside>

  


<nav class="article__next">
  <h3>Next article</h3>

  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    
      
    

    
  
    

    
  
    

    
      
    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  

  
  
  <div class="arrow active">
    <a class="link" href="/newsledge" title="Newsledge">
      
        <span class="arrow__icon arrow__icon--left">&larr;</span>
        <span class="arrow__text">Newsledge</span>
      

      
    </a>
  </div>



  
  
  <div class="arrow active">
    <a class="link" href="/anonymous" title="Anonymous">
      

      
        <span class="arrow__text">Anonymous</span>
        <span class="arrow__icon arrow__icon--right">&rarr;</span>
      
    </a>
  </div>


</nav>

</article>

<header class="header">
  <h3 class="logo">
  
  

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://metamn.io" title="Metamn"><span data-hover="Metamn">Metamn</span></a>

</h3>

</header>

<script src="/assets/scripts/site.min.js"></script>
</body>
</html>

