


<!doctype html>
<html lang="en" class="whats-next?-a-tribute-to-stanislaw-lem ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>What&#39;s Next? A Tribute To Stanislaw Lem &mdash; Writing</title>

    <script src="//use.typekit.net/oks5ysz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://metamn.io/assets/images/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://metamn.io/assets/images/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://metamn.io/assets/images/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://metamn.io/assets/images/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://metamn.io/assets/images/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://metamn.io/assets/images/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://metamn.io/assets/images/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://metamn.io/assets/images/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Metamn"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://metamn.io/assets/images/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://metamn.io/assets/images/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://metamn.io/assets/images/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://metamn.io/assets/images/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://metamn.io/assets/images/icons/mstile-310x310.png" />

  </head>

  <body>


<article class="article">
  <h3 class="article__title">What&#39;s Next? A Tribute To Stanislaw Lem</h3>

  <div class="article__body">
    

<p>
It’s not easy to describe

&mdash; to summarise his heritage to the world. But one thing is sure: he was a visionary strategist and a
scholar spanning over multiple fields of science.
</p>

<p>
He wrote about future half century ago. It is easy <em>now</em> to decide how serious we should take his predictions.
</p>


<h2>Basics</h2>

<p>
The world is changing faster than we can imagine.
</p>

<p>
The moral canon has completely disappeared, there are no more <blockquote>Taboos</blockquote> and moral considerations about what
we should do, and how we should do.
</p>

<p>
We live in the era of total freedom, whatever this means.
</p>


<h2>Politics</h2>

<p>
The world is over hyped due to cold war. From this grandiosity we should step back to earth.
</p>

<p>
Asymmetry is the new world order: small is taking over huge, and in the same time huge is getting bigger by taking over smaller.
</p>

<p>
Masses are taking control over their lives of consumption,
polls and rating rules media & politics.
</p>
<p>
Politics takes over masses through control of freedom:
tight security, no more human rights.
</p>


<h2>Culture</h2>

<p>
This is the end of the high culture. Only pop culture matters.
</p>

<p>
There is full freedom, there are no more moral obstacles and considerations. Sensational is the basic value without any morals.
</p>
<p>
The overall presence of information overflow, the logorrhea of information introduces anarchy.
</p>
<p>
Creative people are crazy, schizophrenic, absurd, and shocking without having enough lived experiences to serve as background for
really valuable creations.
</p>
<p>
In arts the next paradigm is reincarnational postmodernims: I’ll reborn to destroy more.
</p>


<h2>Civil Society</h2>

<p>
Emotional over rational.
</p>
<p>
Earth is overpopulated and resources are running out.
</p>
<p>
It is very common the Bad wins and the Good is always a looser. No more Tom & Jerry.
</p>
<p>
Is driven completely by the media.
</p>

<h2>Science & Technology</h2>

<p>
<strong>Energy</strong> &mdash; Oil and uranium is running out; we might have luck with the revisited cold fusion.
</p>
<p>
<strong>Nature</strong> &mdash; Despite any technological advancement we are always vulnerable by supreme forces.
</p>
<p>
<strong>Speed</strong> &mdash; Using the words of Paul Virilio, we are living <blockquote>The aesthetics of disappearance.</blockquote>
</p>
<p>
<strong>Universe</strong> &mdash; Is just an illusion: an illegal loan with no cover. The Cosmos exists on an unlimited credit.
</p>
<p>
<strong>Evolution</strong> &mdash; Is non-linear but random.
</p>
<p>
<strong>Scientists</strong> &mdash; There are lots of magicians and charlatans
masked scientists; there are no more polymaths;
the space of inventions is limited for a person, we are repeating themselves independently from others —
everything will become a pseudo-plagiarism.
</p>
<p>
<strong>God and Illumination</strong> &mdash; We have a system (the limbic system in the human brain) relating ourselves to the Everything;
illumination is based on admiration and respect, it is Dostoevsky’s <blockquote>Touch of God,</blockquote>
reachable during meditating yourself into deep silence, or using hallucinogenic drugs.
However all these can be bought using Prof. Persinger’s Transcanial Simulator.
</p>
<p>
<strong>Genesis</strong> &mdash; Procreation and extinction are strongly related. Any cosmic holocaust is followed by biological
innovation/evolution of life.
</p>
<p>
<strong>Artificial Intelligence</strong> &mdash; The border between natural and artificial will disappear.
There will be an electronic brain and soul not distinguishable from the original.
</p>

<h2>Information and Communication Technology</h2>

<p>
The Information Market is crucial for capital and corporations.
</p>
<p>
Information becomes genital, fully sexualised:
<blockquote>Everything that would serve humanity turned to be a strangehold of restrictions.</blockquote>
</p>
<p>
Ubiquity is exponential power.
</p>
<p>
It is more difficult to distinct truth from fake. Information leads to paranoia.
</p>
<p>
Internet has a Marxist / Communist aspect: information & knowledge as individual property goes to service providers, corporations.
</p>
<p>
The American Dream is replaced by Virtual Reality.
</p>

<h2>Biotechnology, Genetics</h2>

<p>
The strapline is <blockquote>You can do better than nature (James Young of MedImmune)</blockquote> which leads to autoevolution.
</p>
<p>
Genetics is a pure market product.
In 10 years no one can recognise a genetically pimped sportsman.
Molecular and quantum biology to watch.
</p>
<p>
Patenting human genes reintroduces slavery.
</p>
<p>
Humans are nothing without culture — and nobody takes into consideration the cultural aspect of cloning humans.
</p>
<p>
Homo sapiens is the latest specie of the natural evolution.
We are the latest reliquiae of the uncivilised nature.
</p>


  </div>

  <aside class="article__date">
  <h3>Article date</h3>

  
    <p class="date">
      October 2006
    </p>
  
</aside>

  

<aside class="article__meta">
  <h3>Article meta</h3>

  
    <p class="categories">
      
      # 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/asymmetry" title="asymmetry"><span data-hover="asymmetry">asymmetry</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/postmodernism" title="postmodernism"><span data-hover="postmodernism">postmodernism</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/politics" title="politics"><span data-hover="politics">politics</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/culture" title="culture"><span data-hover="culture">culture</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/society" title="society"><span data-hover="society">society</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/biotechnology" title="biotechnology"><span data-hover="biotechnology">biotechnology</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/genetics" title="genetics"><span data-hover="genetics">genetics</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/science" title="science"><span data-hover="science">science</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/technology" title="technology"><span data-hover="technology">technology</span></a>, 

  
    
    
    
    
      
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/stanislaw-lem" title="Stanislaw Lem"><span data-hover="Stanislaw Lem">Stanislaw Lem</span></a>.

  
    </p>
  

  <p class="archives">
    + 
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/archive" title="archive"><span data-hover="archive">archive</span></a>

  </p>
</aside>

  


<nav class="article__next">
  <h3>Next article</h3>

  
    
  
    
  
    
  
    
      
      
    
  
    
  
    
  

  
    

    
  
    

    
  
    
      
    

    
  
    

    
  
    

    
      
    
  
    

    
  

  
  
  <div class="arrow active">
    <a class="link" href="/surreal-numbers" title="The Story Of Time And Surreal Numbers">
      
        <span class="arrow__icon arrow__icon--left">&larr;</span>
        <span class="arrow__text">The Story Of Time And Surreal Numbers</span>
      

      
    </a>
  </div>



  
  
  <div class="arrow active">
    <a class="link" href="/reconstructing-deconstruction" title="Reconstructing The Deconstruction">
      

      
        <span class="arrow__text">Reconstructing The Deconstruction</span>
        <span class="arrow__icon arrow__icon--right">&rarr;</span>
      
    </a>
  </div>


</nav>

</article>

<header class="header">
  <h3 class="logo">
  
  

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://metamn.io" title="Metamn"><span data-hover="Metamn">Metamn</span></a>

</h3>

</header>

<script src="/assets/scripts/site.min.js"></script>
</body>
</html>

