---
layout: default
id: archive
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">
      <a title="{{ page.title }}" href="/{{ page.url }}">{{ page.title }}</a>
    </h1>
  </header>
  
  <div id="body">
    {% if page.category != _blank %}
      <ol>
      {% for post in site.posts %}
        {% if post.categories contains page.category %}
          <li><a title="{{ post.title }}" href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
      </ol>
    {% endif %}
  </div>
  
  
  <footer>    
  </footer>
</article>
