


<!doctype html>
<html lang="en" class="from-real-to-digital? ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>From Real To Digital? &mdash; Writing</title>

    <script src="//use.typekit.net/oks5ysz.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://metamn.io/assets/images/icons/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://metamn.io/assets/images/icons/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://metamn.io/assets/images/icons/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://metamn.io/assets/images/icons/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="http://metamn.io/assets/images/icons/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="http://metamn.io/assets/images/icons/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="http://metamn.io/assets/images/icons/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="http://metamn.io/assets/images/icons/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="http://metamn.io/assets/images/icons/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="Metamn"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="http://metamn.io/assets/images/icons/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="http://metamn.io/assets/images/icons/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="http://metamn.io/assets/images/icons/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="http://metamn.io/assets/images/icons/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="http://metamn.io/assets/images/icons/mstile-310x310.png" />

  </head>

  <body>


<article class="article">
  <h3 class="article__title">From Real To Digital?</h3>

  <div class="article__body">
    
<p>
Since inception internet was meant to deconstruct the existing real world barriers between humans. It brought people closer by eliminating the layers on which power structures were built. Making control transparent let human culture to evolve faster than whenever before in the history.
</p>

<h3>Divide et impera</h3>
<p>
In mathematics there are three main approaches to solve complex problems:
<ul class="inside-text">
  <li>Reductio ad absurdum, 
  a purely logical approach to show something will lead to an absurd situation</li>
  <li>Induction, a tool to make generalisations from basic true assumptions, and</li>
  <li>Divide et impera, when the problem is too complex to be solved with the 
  methods above it is decomposed into smaller problems on which the above methods 
  can be applied with success.</li>
</ul>
</p>
<p>
Mathematics is the model of the Universe showing what humans currently understand about existence. Vice versa, complex human, real world problems can be solved using mathematics.
</p>
<p>
The problem of controlling humans was solved by the divide et impera strategy due to the complexity of the problem and the efficacy of the method.
</p>
<p>
Unfortunately this led to the fragmentation of humanity into vertical structures driven by the control of the information: the top level cast was holding the truth, the complete information, while lower levels were kept in the realms of different canons, cultural myths built on information shortage.
</p>


<h3>Internet, The Transparent Power Structure</h3>
<p>
By enabling the free circulation of information internet started to replace libraries, boosted creativity to strengthen the middle class, transformed the way businesses are done, and now is napstering the media, then finances and finally the state as the ultimate control structure.
</p>

<p>
First came Napster which ruined the music industry. Then Ryanair torpedoing the airlines, Skype went for telecommunications, blogs and social media started to sink advertising and print; microfinancing are replacing soon banking — and without financial and media power the state must rethink it’s role in ruling societies.
</p>

<p>
Internet censorship gained momentum especially during the 2008-2009 financial crisis but due to the distributed nature of the internet and the large social, economical acceptance of this new medium it cannot be just shut down. Not even by the energy problems started to be planted into reality through the global warming paradigm.
</p>


<h3>Free Information is The Ultimate Power</h3>
<p>
All our world is built on information; what we know makes our existence. Intelligence is the capability of sensing and processing information. Free information takes our collective intelligence and cultural evolution to a next level.
</p>
<p>
And when humans as a whole entity, without being divided will take over freely the 
control of their culture a next metasystem transition will happen. 
</p>
<p>
And as always with each transition a complete new Universe will be revealed equipping humans with new senses assuring the existence of a complete bi-directional interface between the old and the brave new world(s).
</p>

<h3>Synthetic Life</h3>
<p>
Western culture, in contrast with Eastern philosophy — evolution vs. involution — was 
always looking outside to find answers for life. 
</p>
<p>
As well stated by 
 <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
  </figcaption>

  
</figure>
 
in history, during the evolution technology, the tools humans used to enhance their 
life was always the key factor making the difference.
</p>
<p>
Thus speculating Information Technology will lead us to the next metasystem transition makes real sense. Leaders of synthetic life research (together with all the other digerati) are already discussing
<blockquote>
[...] how the world will be changed by the ability to routinely read genetic sequences into computing systems and then store, replicate, alter and insert them back into living cells. (The New York Times, August 2009)
</blockquote>
</p>
<p>
This bi-directional interface between biological and synthetic life which is hosted in the digital universe will be the new sense transiting us to the new metasystem.
</p>

<p class="notice">
Edge.org has a 
<a href="http://www.edge.org/3rd_culture/church_venter09/church_venter09_index.html#dyson">Master Class</a>
on subject with  <figure >
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/_desktop.png, /assets/images/_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/_laptop.png, /assets/images/_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/_tablet.png, /assets/images/_tablet2x.png 2x">
    <source srcset="/assets/images/_mobile.png, /assets/images/_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="/assets/images/_desktop.png" alt="">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    
  </figcaption>

  
</figure>

</p>

<h3>Mind Control</h3>
<p>
All these advancements presented above, at the rise of the singularity as the next metasystem transition — were done by humans using their brain capacity potential far from the maximum.
</p>
<p>
Easterners state, believe and prove through mind training — instead of focusing on technological advancements — the brain capacity can be used at maximum. In other words new senses can be developed alone by humans without building artificial universes and interfaces around.
</p>
<p>
With a fully opened mind one can sense and experience parallely existing universes. And (sometimes?) the effort to open your mind is less than building a new world.
</p>
<p>
So which pill you take? The West or the East? Clone yourself into digital or take a journey inside to a socratesian experience? Maybe both?
</p>


  </div>

  <aside class="article__date">
  <h3>Article date</h3>

  
    <p class="date">
      September 2009
    </p>
  
</aside>

  

<aside class="article__meta">
  <h3>Article meta</h3>

  
    <p class="categories">
      
      # 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/napstering" title="napstering"><span data-hover="napstering">napstering</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/transparency" title="transparency"><span data-hover="transparency">transparency</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/control" title="control"><span data-hover="control">control</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/metasystem-transition" title="metasystem transition"><span data-hover="metasystem transition">metasystem transition</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/synthetic-life" title="synthetic life"><span data-hover="synthetic life">synthetic life</span></a>, 

  
    
    
    
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/paul-virilio" title="Paul Virilio"><span data-hover="Paul Virilio">Paul Virilio</span></a>, 

  
    
    
    
    
      
    
    
    

  
    
  

  


  


  

  

  <a class="link" href="/on/craig-j-venter" title="Craig J Venter"><span data-hover="Craig J Venter">Craig J Venter</span></a>.

  
    </p>
  

  <p class="archives">
    + 
    

  
    
  

  


  


  

  
    
  

  <a class="link" href="/archive" title="archive"><span data-hover="archive">archive</span></a>

  </p>
</aside>

  


<nav class="article__next">
  <h3>Next article</h3>

  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
      
      
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  
    
  

  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    
      
    

    
  
    

    
  
    

    
      
    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  
    

    
  

  
  
  <div class="arrow active">
    <a class="link" href="/the-web-is-the-singularity" title="The Web Is The Singularity">
      
        <span class="arrow__icon arrow__icon--left">&larr;</span>
        <span class="arrow__text">The Web Is The Singularity</span>
      

      
    </a>
  </div>



  
  
  <div class="arrow active">
    <a class="link" href="/the-trapped-self-simulation-worlds-and-transparency" title="The Trapped Self, Simulation Worlds and Transparency">
      

      
        <span class="arrow__text">The Trapped Self, Simulation Worlds and Transparency</span>
        <span class="arrow__icon arrow__icon--right">&rarr;</span>
      
    </a>
  </div>


</nav>

</article>

<header class="header">
  <h3 class="logo">
  
  

  
    
  

  


  


  

  
    
  

  <a class="link" href="http://metamn.io" title="Metamn"><span data-hover="Metamn">Metamn</span></a>

</h3>

</header>

<script src="/assets/scripts/site.min.js"></script>
</body>
</html>

