@mixin card {
  display: flex;

  align-items: center;
  justify-content: space-around;

  @include background(dashed);
  margin: $lem 0;

  &__title {
    @include card__title;
  }

  figure {
    @include card__figure;
  }

  @include card--active;
  @include card--mobile;
}
